.accordion-wrapper{
    padding: 20px;
}

.btn-hapus{
    float: right;
    position: relative;
    margin-top: -13px;
}
.invalid-radio {
  border: 2px solid #f44336;
  border-radius: 4px;
  padding: 4px;
  background: #fff0f0;
}