<p-panel [header]="title" [toggleable]="false">
    <div class="grid">
        <p>Contoh REGEX untuk bisa membaca data .csv yang akan dimapping ke tabel grid</p>
        <p style="text-align-last : justify"><button pButton (click)="download()">Download Contoh File CSV</button>&nbsp; <button pButton (click)="checkbox()" [ngClass]="{'p-button-success': !checkboxMode, 'p-button-warning': checkboxMode}">{{btnCheckBox}}</button></p>
      <div class="col-12 sm:col-12 md:col-12 lg:col-12">
        <p-table [columns]="cols" [value]="dataLists" [paginator]="true" [rows]="10"
          [rowsPerPageOptions]="[10, 20, 30, 50, 100]" [totalRecords]="totalRowCount" [loading]="loadingTable"
          [resizableColumns]="true" columnResizeMode="expand" [lazy]="true"
          [(selection)]="selectedRows"
          (onRowSelect)="onRowSelect($event)"
          (onRowUnselect)="onRowUnselect($event)"
          (onHeaderCheckboxToggle)="onHeaderCheckboxToggle($event)"
          (onLazyLoad)="onLazyLoad($event)">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" [ngStyle]="{ 'width': col.width, 'text-align': col.align }"
                pResizableColumn>
                {{col.header}}
              </th>
              <th class="hcheckbox" *ngIf="checkboxMode">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td *ngFor="let col of cols" [ngStyle]="{ 'width': col.width, 'text-align': col.align }" pResizableColumn>
                <ng-container [ngSwitch]="col.format">
                  <ng-container *ngSwitchCase="'currency'">
                    <div *ngIf="rowData[col.field] === null; else currIDR">
                      {{ rowData[col.field] }}
                    </div>
                    <ng-template #currIDR>
                      {{ rowData[col.field] | currency : 'IDR' : '' }}
                    </ng-template>
                  </ng-container>
                  <ng-container *ngSwitchDefault>{{ rowData[col.field] }}</ng-container>
                </ng-container>
              </td>
              <td *ngIf="checkboxMode">
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="cols.length">Data Kosong</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <div class="grid w-full" style="display: flex;">
              <div class="col-6 md:col-6 lg:col-6">
                <p-fileUpload #fileInput mode="advanced" name="myfile[]" [customUpload]="true" accept=".csv"
                  [disabled]="disableChooseFile" (uploadHandler)="incomingfile($event, fileInput)" class="custom-upload"
                  [style]="{ 'text-align': 'left' }">
                </p-fileUpload>
              </div>
              <div class="col-6 md:col-6 lg:col-6" style="text-align: right;">
                <button pButton type="button" label="Cek Data" icon="fa fa-fw fa-check" class="ui-button-success"
                  [disabled]="disableCekData" (click)="cekData()"></button>&nbsp;
              </div>
            </div>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-panel>