<body>
  <div class="input-wrapper">
    <div>
      <h2>Custom Prime</h2>
      <label>Label</label>
    </div>
    <p-panel header="Contoh Panel Kustom">
      <div style="margin-bottom: 10px">
        <input type="text" pInputText pKeyFilter="alpha" placeholder="Alphabetic"> &nbsp;
        <input type="text" pInputText [(ngModel)]="value" /> &nbsp;
        <p-button class="ui-button" label="Prime 14" icon="pi pi-search"></p-button>
        &nbsp;
        <p-button class="ui-button-primary" label="Prime 14" icon="pi pi-search"></p-button>
        &nbsp;
        <p-button class="ui-button-text" label="Prime 14" icon="pi pi-search"></p-button>
      </div>
      <div style="margin-bottom: 10px">
        <input pInputText type="text" class="p-inputtext-sm" [disabled]="true" /> &nbsp;
        <input pInputText type="text" class="p-inputtext-sm" [disabled]="false" /> &nbsp;
        <p-message severity="error" text="Field is required"></p-message> &nbsp;
        <p-button class="ui-button ui-button-primary ui-button-text" label="Prime 14" [disabled]="true"></p-button>
      </div>
      <div style="margin-bottom: 10px">
        <input pInputText type="text" class="p-inputtext-sm" /> &nbsp;
        <button pButton type="button" label="Cari" icon="pi pi-search" class="input-button-right"></button>
        &nbsp;
        <button pButton type="button" label="Refresh" icon="pi pi-refresh" class="input-button-right"></button>
      </div>
      <div class="p-grid">
        <div class="col-10 md-8 lg-8" style="margin-bottom: 10px">
          <p-dropdown optionLabel="name"></p-dropdown> &nbsp;
          <p-dropdown optionLabel="name"></p-dropdown> &nbsp;
          <p-dropdown optionLabel="name"></p-dropdown>
        </div>
        <!-- <div class="dropdown-container" style="text-align: right">
          <label for="dropdown">Select an option:</label>
          <p-dropdown
            id="dropdown"
            [options]="options2"
            [(ngModel)]="selectedOption"
            optionLabel="label"
          >
            <ng-template let-option pTemplate="selectedItem">
              {{ option.label }}
            </ng-template>
            <ng-template let-option pTemplate="item">
              <span>{{ option.label }}</span>
              <small>{{ option.desc }}</small>
            </ng-template>
          </p-dropdown>

          <div *ngIf="selectedOption">
            <p>Selected: {{ selectedOption.label }}</p>
            <p>Description: {{ selectedOption.desc }}</p>
          </div>
        </div> -->
      </div>
      <div style="margin-bottom: 10px">
        <button pButton type="button" label="Unduh" icon="pi pi-print" class="p-button-outlined"></button>&nbsp;
        <button pButton type="button" label="Rekam" icon="pi pi-plus" class="p-button-outlined"></button>&nbsp;
        <button pButton type="button" label="Ubah" icon="pi pi-pencil" class="p-button-outlined"></button>&nbsp;
        <button pButton type="button" label="Simpan" icon="pi pi-save" class="p-button-outlined"></button>&nbsp;
        <button pButton type="button" label="Batal" icon="pi pi-times"
          class="p-button-outlined p-button-danger"></button>&nbsp;
        <button pButton type="button" label="Oke" icon="pi pi-check"
          class="p-button-outlined p-button-success"></button>&nbsp;
        <button pButton type="button" label="Keluar" icon="pi pi-sign-out"
          class="p-button-outlined p-button-warning"></button>
      </div>
      <div style="margin-bottom: 10px">
        <button pButton type="button" label="Unduh" icon="pi pi-print" class="p-button-warning"></button>&nbsp;
        <button pButton type="button" label="Rekam" icon="pi pi-plus"></button>&nbsp;
        <button pButton type="button" label="Ubah" icon="pi pi-pencil" class="p-button-secondary"></button>&nbsp;
        <button pButton type="button" label="Simpan" icon="pi pi-save" class="p-button-success"></button>&nbsp;
        <button pButton type="button" label="Batal" icon="pi pi-times" class="p-button-danger"></button>&nbsp;
        <button pButton type="button" label="Oke" icon="pi pi-check" class="p-button-help"></button>&nbsp;
        <button pButton type="button" label="Keluar" icon="pi pi-sign-out" class="p-button-danger"></button>
      </div>
      <div style="margin-bottom: 10px">
        <button pButton type="button" label="Unduh"></button>&nbsp;
        <button pButton type="button" label="Rekam"></button>&nbsp;
        <button pButton type="button" label="Ubah"></button>&nbsp;
        <button pButton type="button" label="Simpan"></button>&nbsp;
        <button pButton type="button" label="Batal"></button>&nbsp;
        <button pButton type="button" label="Oke"></button>&nbsp;
        <button pButton type="button" label="Keluar"></button>&nbsp;
        <button pButton type="button" label="Pilih"></button>
      </div>
      <div style="margin-bottom: 10px">
        <button pButton type="button" label="Unduh" icon="pi pi-print"></button>&nbsp;
        <button pButton type="button" label="Rekam" icon="pi pi-plus"></button>&nbsp;
        <button pButton type="button" label="Ubah" icon="pi pi-pencil"></button>&nbsp;
        <button pButton type="button" label="Simpan" icon="pi pi-save"></button>&nbsp;
        <button pButton type="button" label="Batal" icon="pi pi-times"></button>&nbsp;
        <button pButton type="button" label="Oke" icon="pi pi-check"></button>&nbsp;
        <button pButton type="button" label="Keluar" icon="pi pi-sign-out"></button>
      </div>
      <div>
        <p-calendar dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
      </div>
      <div style="margin-top: 10px">
        <p-radioButton name="pizza" value="Cheese" [(ngModel)]="ingredient" inputId="ingredient1"></p-radioButton>&nbsp;
        <label for="ingredient1" class="ml-2"> Cheese</label>
        &nbsp;
        <p-radioButton name="pizza" value="Mushroom" [(ngModel)]="ingredient"
          inputId="ingredient2"></p-radioButton>&nbsp;
        <label for="ingredient2" class="ml-2"> Mushroom</label>
        &nbsp;
        <p-radioButton name="pizza" value="Onion" [(ngModel)]="ingredient" inputId="ingredient4"
          [disabled]="true"></p-radioButton>&nbsp;
        <label for="ingredient4" class="ml-2">Onion</label>
      </div>
      <div style="margin-top: 20px">
        <p-checkbox name="groupname" value="val1" label="Value 1" [(ngModel)]="selectedValues"></p-checkbox>
        &nbsp;
        <p-checkbox name="groupname" value="val2" label="Value 2" [(ngModel)]="selectedValues"></p-checkbox>
        &nbsp;
        <p-checkbox name="groupname" value="val3" label="Value 3" [(ngModel)]="selectedValues"
          [disabled]="true"></p-checkbox>
      </div>
      <div>
        <p>p-message component is used to display inline messages mostly within forms.</p>
        <p-message severity="info" text="Message Content" styleClass="mr-2"></p-message>
        <p-message severity="success" text="Message Content" styleClass="mr-2"></p-message>
        <p-message severity="warn" text="Message Content" styleClass="mr-2"></p-message>
        <p-message severity="error" text="Message Content"></p-message>
        <p-messages [(value)]="msgs1" [enableService]="false"></p-messages>
      </div>
    </p-panel>
    <p-fieldset legend="Fieldset">
      <div>
        <form [formGroup]="myForm">
          <input pInputText type="text" formControlName="myInput">
        </form>
        <input pInputText type="text" class="p-inputtext-sm" [(ngModel)]="testModel" />
        &nbsp;
        <input pInputText type="text" class="p-inputtext-sm" [value]="testModel" [disabled]="true" />
        &nbsp;
        <input pInputText type="text" class="p-inputtext-sm" [value]="testModel" [disabled]="true" />
      </div>
      <div style="margin-top: 20px">
        <button (click)="confirm()" pButton icon="pi pi-check" label="Confirm Dialog"></button>
        &nbsp;
        <button (click)="confirm2()" pButton icon="pi pi-check" label="Confirm Dialog 2"></button>
        &nbsp;
        <button (click)="succesToast()" pButton icon="pi pi-check" label="Success Toast"></button>
        &nbsp;
        <button (click)="errorToast()" pButton icon="pi pi-check" label="Error Toast"></button>
        &nbsp;
        <button (click)="warnToast()" pButton icon="pi pi-warn" label="Warn Toast"></button>
        &nbsp;
        <button (click)="infoToast()" pButton icon="p-button-info" label="Info Toast"></button>
        &nbsp;
      </div>
    </p-fieldset>
  </div>
</body>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast></p-toast>