<div class="p-grid" style="display: flex">
  <div class="col-2">
    <input type="text" pInputText [(ngModel)]="sendData" /> &nbsp;
  </div>
  <div class="col-3">
    <p-button
      class="ui-button"
      label="kirim ke child 1"
      (onClick)="sendDataFromChild3()"
    ></p-button>
  </div>
</div>
<div class="p-grid" style="display: flex">
  <div class="col-12" style="display: flex;">
    <p-button
      class="ui-button"
      label="Lookup Data"
      (onClick)="lookupData()"
    ></p-button> &nbsp;
    <p-button
    class="ui-button"
    label="Kirim ke Child 2"
    (onClick)="sendDataToChild2()"
  ></p-button>
  </div>
</div>
<div class="table-wrapper">
  <p-table [value]="data" [(selection)]="selectedRows" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
  selectionMode="single">
    <ng-template pTemplate="header">
      <tr>
        <!-- <th>Select</th> -->
        <th *ngFor="let col of cols">{{ col.header }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr [pSelectableRow]="rowData">
        <!-- <td>
          <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
        </td> -->
        <td *ngFor="let col of cols">{{ rowData[col.field] }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-toast></p-toast>
