<body>
    <div class="button-cetak">
        <button pButton type="button" label="Convert to Pdf" (click)="cetak()"></button>
    </div>

    <!-- PORTRAIT -->
    <div class="body width-210mm" id="formulir-pemrek-badan-usaha-1" #formulirPemrekBadan media="print">
        <div class="page-1 vertikal">
            <div class="header-cover">
                <div class="blue-header-line"></div>
                <div class="logo-bca-header">
                    <img src="../../../../../assets/img/umbrella-corps.png" alt="Logo BCA" class="logo-bca" />
                </div>
            </div>

            <header class="header-cover-text mt-12">
                <h1 class="header-text-1">The Umbrella Corporation</h1>
                <h1 class="header-text-2">Private Military Company</h1>
                <p class="header-text-3">
                    The Umbrella Corporation was a multinational conglomerate with subsidiaries active<br>
                    in a variety of industries from 1968 to the early 2000s. Umbrella had influence in<br>
                    the production and sale of cosmetics, chemicals, pharmaceuticals, industrial machine production,<br>
                    consumer products, health foods, the transportation industry and tourism.
                </p>
            </header>

            <section class="mt-12">
                <div class="cover-footer">
                    <div class="half-logo-bca-footer">
                        <img src="../../../../../assets/img/top-secret.png" alt="Logo BCA Half" class="half-logo-bca" />
                    </div>
                    <div class="form-cover">
                        <div>
                            <p class="label">Name</p>
                            <p>|__________________________________________________________|</p>
                        </div>
                        <div>
                            <p class="label">ID</p>
                            <p>|___|___|___|___|___|___|___|___|___|___|___|___|___|___|___|</p>
                        </div>
                        <div>
                            <p class="label">Purpose</p>
                            <p>|___|___|___|___|___|___|___|___|___|___|___|___|___|___|___|</p>
                        </div>
                        <div>
                            <p class="label">Etc.</p>
                            <p>|___|___|___|___|___|___|___|___|___|___|___|___|___|___|___|</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <!-- PORTRAIT -->
    <div class="body width-210mm" id="formulir-pemrek-badan-usaha-2" #formulirPemrekBadan media="print">
        <div class="page-2 vertikal flex-kolom">
            <div class="element-1">
                <div class="header-body">
                    <div class="logo-bca-header-body">
                        <img src="../../../../../assets/img/umbrella-corps.png" alt="Logo BCA" class="logo-bca" />
                    </div>
                    <div class="lembar-bank">
                        <p>Page</p>
                    </div>
                </div>

                <section class="section-1">
                    <div class="sub-header-body">
                        <p class="fonsi-14px">History of Umbrella</p>
                    </div>
                    <div class="sub-header-body-2">
                        <p class="fonsi-12px">LOREM IPSUM DOLOR SIT AMET</p>
                    </div>

                    <div class="checkbox-container section-1">
                        <div class="checkbox-group">
                            <label for="giro">
                                <input type="checkbox" class="checkbox" id="ktp" />
                                <div class="custom-checkbox"></div>
                                <p>Check</p>
                            </label>
                        </div>
                        <div class="mata-uang">
                            <p class="mata-uang">Check</p>
                            <p class="mata-uang">|___|___|___|</p>
                        </div>
                        <div class="checkbox-group">
                            <label for="others">
                                <input type="checkbox" class="checkbox" />
                                <div class="custom-checkbox"></div>
                                <p>....................................</p>
                            </label>
                        </div>
                    </div>
                </section>

                <section class="section-1 mt-2">
                    <div class="desc">
                        <p class="justify">
                            The origins of the Umbrella Corporation lie with the eugenics movements that dominated
                            Europe and North American debate in the early 20th century. Its three most prominent
                            founding members were Oswell E. Spencer, The Earl Spencer; Dr. Edward Ashford, 5th Earl
                            Ashford, and Dr. James Marcus,[4] who were university classmates,[5] with further early work
                            from Marcus' protégé, Brandon Bailey; the 16th Earl Beardsley and his daughter, Mylène;[6]
                            and France's House of Henry, of which Christine and her father belonged.[7] All were
                            virologists with some associations with the eugenics movement either themselves or by
                            association to another prominent figure. Spencer was a student of Mother Miranda and learned
                            that the human body could be transformed by being infected by an agent, such as the Mold.
                            During his time in Miranda's Eastern European village, Spencer encountered the "umbrella"
                            symbol of the Four Houses, which would later serve as Umbrella's inspiration.[8]

                            Umbrella's immediate pre-history truly begins in 1966, when Dr. Marcus developed a
                            hypothesis that a mythical West African flower known as Stairway of the Sun bestowed powers
                            to its consumers by a mutagenic viral infection. In a trip to the Ndipaya tribal lands, the
                            fabled flower was discovered in an underground garden and a virus discovered within
                            it.[9][10] However, flowers cultivated in the United States failed to replicate the virus.
                            Requiring significant funding beyond their aristocratic links to bring about their eugenics
                            dream, Spencer formed Umbrella Pharmaceuticals on behalf of Ashford and an indifferent
                            Marcus and established a base in the Ndipaya garden so Progenitor samples could be
                            transported over the Atlantic instead. Requiring more money, the three agreed to a plan
                            later known as the "t-Virus Project", where they would independently develop strains of
                            Progenitor to sell to the US military as a weapon.[11]

                            The t-Virus Project expanded considerably over this period thanks to research led by Dr.
                            William Birkin at the end of the 1970s, inspired by Marcus' independent but otherwise
                            unrelated work in 1978,[12] which saw the abandonment of t-Virus as a weapon of death and
                            instead utilized its mutagenic properties to keep the infected alive in a mentally-damaged,
                            homicidal and cannibalistic state capable of maintaining activity after cardiac arrest.[11]
                        </p>
                    </div>

                    <div class="desc2">
                        <p class="justify">
                            As Umbrella's power increased, the founding circle began warring amongst themselves. Dr.
                            Ashford was the first victim, killed in 1968 by his own prototype t-Virus in an accident
                            believed to be masterminded by Spencer.[13][14] Marcus became unpopular with the executive
                            body due to his use of executive trainees as guinea pigs and was eventually executed by the
                            Umbrella Security Service in 1988.[13] Edward's son, Dr. Alexander Ashford, was not a
                            virologist and so became an irrelevance to the bio-weapons project; though his
                            genetically-engineered daughter Alexia restored the Ashford prestige, both became infected
                            with the experimental t-Veronica Virus and disappeared from public life, believed dead. The
                            surviving son, Alfred, grew into minor administrative roles, his family no longer a threat
                            to Spencer. Beyond three founders in Spencer's circle, Dr. Brandon Bailey was forcibly kept
                            in Africa until his execution in 1998 to prevent a security breach. Drs. Henry and Beardsley
                            would die at some point in the early 1990s and their respective daughters, Christine and
                            Mylène, took control of their facilities in Europe. Although Mylène Beardsley had plans to
                            take over the company she was not a serious threat.[6]
                        </p>
                    </div>
                </section>

            </div>
            <div class="element-2">
                <section class="section-3">
                    <div class="footnote">
                        <div class="footnote-ids blue-font">
                            <p>Umbrella Corps</p>
                        </div>
                        <div class="footnote-paraf">
                            <p>Page …/…</p>
                            <p>Sign ................</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <!-- LANDSCAPE -->
    <div class="body width-297mm" id="formulir-pemrek-badan-usaha-landscape-3" #formulirPemrekBadan media="print">
        <div class="page-4 horizontal">
            <div class="header-body">
                <div class="logo-bca-header-body">
                    <img src="../../../../../assets/img/umbrella-corps.png" alt="Logo BCA" class="logo-bca" />
                </div>
                <div>
                    <p>Page</p>
                </div>
            </div>

            <section class="section-1 mt-2">
                <div class="desc">
                    <p class="justify">
                        Soon after the opening of its pharmaceutical subsidiary, Umbrella Pharmaceuticals, Umbrella
                        began developing biological weaponry for militaries across the world as part of a worldwide
                        conspiracy to accumulate deadly viruses directly prohibited by the 1972 Biological Weapons
                        Convention. Umbrella Pharmaceuticals was able to cover their true intentions by researching
                        vaccines for the same viruses as a front.

                        Umbrella had a number of other subsidiaries that included Umbrella Medical Equipment, as well as
                        Umbrella Industries which was responsible for the development of anti-B.O.W. weaponry. Their
                        tourism firm, the Paraguas Line Company, earned revenue from transporting passengers across the
                        Atlantic as a front for the transporting of viral weapon samples from West Africa.

                        Umbrella's true goal was not, in fact, a capitalistic urge for monopolization of a lucrative
                        industry. It was eugenics. This fact was only known to corporate executives who shared the
                        belief that their principal objective was the funding of the Wesker Project. This project was to
                        birth a new race of virally-enhanced and well-educated superhumans who would advance human
                        civilization for generations to come with Umbrella's founders ruling through them as gods.[1]
                        This project was not realized,[2][3] with the loss of all but two candidates by 1998 and their
                        later deaths.

                        The Umbrella Corporation collapsed in 2003 following Umbrella USA's loss at the Raccoon Trials,
                        which found the corporation liable for compensation in the 1998 Raccoon City Destruction
                        Incident. The verdict bankrupted Umbrella, causing them and their subsidiaries to close down
                        over the next year with a large enough stigma present that some were not purchased by rivals.
                    </p>
                </div>
                <div class="desc2">
                    <p class="justify">
                        Umbrella's success began to wane in 1998 due to two factors: industrial espionage and internal
                        destabilization. By 1998 Umbrella USA had been infiltrated by the Chinese agent Ada Wong, on
                        behalf of Umbrella's rival company in B.O.W. research, and through a relationship with the
                        Arklay Laboratory's new chief of research, Dr. John Clemens, gathered information on current
                        projects along with limited information on Birkin's G-Virus, which the company soon developed an
                        interest for.

                        The trigger for Umbrella's decline, however, began in May 1998 with a mysterious containment
                        failure at the Arklay Laboratory. Though the reason for the failure is unknown, an experimental
                        sentient B.O.W. developed by Dr. Marcus a decade prior known as Queen Leech was
                        responsible.[28][29] The facility was put on lockdown, but Cerberus B.O.W.s escaped their cages
                        and ran amok in the mountains, killing and partially-eating several hikers over the next two
                        months and wounding others, who turned into Zombies and killed and ate others. Armed Umbrella
                        teams in the Arklays failed to destroy the B.O.W.s during their attempt to reopen the nearby
                        executive training school. Since 1996, Albert Wesker was retired from the U.S. military and was
                        now in charge of S.T.A.R.S.,[30] an Umbrella-funded law enforcement team independent of the
                        Raccoon City Police Department. Wanting the entire incident covered-up, Umbrella gave Wesker
                        orders to send his team to the Arklays and allow them to be killed off by the B.O.W.s while he
                        destroyed incriminating material, record combat data as to the effectiveness of the creatures
                        against his comrades, recover any data from the Arklay Lab's projects and finally blow up the
                        facility to eliminate any connection Umbrella had to the killings.[31][32] Wesker had, however,
                        made a decision to leave Umbrella and join the rival company, having judged Umbrella to be
                        doomed already. Rather than hand his data to Umbrella USA as expected, he faked his death and
                        escaped the explosion, with four comrades corroborating his death.

                        Dr. Birkin meanwhile also made a decision to leave Umbrella. Having failed to impress Spencer
                        and get an offer to join his inner circle, Birkin made plans to hand himself over to U.S.
                        military authorities along with samples of the t-Virus and G-Virus.[33] In the weeks ahead of
                        the planned link-up, he dumped t-Virus into other facilities such as a sewer treatment plant and
                        the recently opened P-12A facility for processing failed experiments.[34] This resulted in the
                        t-Virus slowly spreading around Raccoon City, which by mid-September had the Raccoon General
                        Hospital under strict quarantine.[35] Expecting Umbrella to find out about the deal, Birkin paid
                        off police chief Brian Irons to have the sewers cleared out, allowing a policeman to patrol it
                        and interrupt a USS team handling C-4 charges. Made aware to the operation, Birkin released his
                        lab's Hunter R bio-weapons which went on to kill the rest of the research staff and his own
                        guards so as to make himself and his wife, Annette, the only people aware of G-Virus.
                    </p>
                </div>
            </section>

            <section class="section-5">
                <div class="catatan">
                    <p class="underline text-indent-0">Note:<br></p>
                    <p class="text-indent-0">
                        - Lorem Ipsum Dolor sit Amet.</p>
                </div>
                <div class="footnote">
                    <div class="footnote-ids">
                        <p class="text-indent-0">Umbrella Corps</p>
                    </div>
                    <div class="footnote-paraf">
                        <p class="text-indent-0">Page …/…</p>
                        <p class="text-indent-0">Sign ................</p>
                    </div>
                </div>
            </section>
        </div>
    </div>

</body>