<p-panel [header]="title" [toggleable]="false">
    <div>
        <p>Ingfo : Ternyata penggunaan local storage sama seperti penggunaan sharedService pada menu parent-child</p>
    </div>
    <form (submit)="onSubmit()">
        <div class="grid" style="display: flex;">
            <div class="col-2">
                <label for="name">Nama:</label> &nbsp;
            </div>
            <div class="col-8">
                <input pInputText type="text" id="name" [(ngModel)]="userData.name" name="name" required>
            </div>
        </div>
        <div class="grid" style="display: flex;">
            <div class="col-2">
                <label for="address">Alamat:</label> &nbsp;
            </div>
            <div class="col-8">
                <input pInputText type="text" id="address" [(ngModel)]="userData.address" name="address" required>
            </div>
        </div>
        <div class="grid" style="display: flex;">
            <div class="col-2">
                <label for="food">Es pisang ijo ? :</label> &nbsp;
            </div>
            <div class="col-8">
                <input pInputText type="text" id="food" [(ngModel)]="userData.food" name="food" required>
            </div>
        </div>


        <button pButton type="submit">Submit</button>
    </form>
</p-panel>