<div class="button-nav">
    <button class="btn-nav" (click)="goToDashboard()">HOME</button>
    <button class="btn-nav" (click)="goToTable()">TABLE</button>
    <button class="btn-nav" (click)="goToAccordion()">ACCORDION</button>
    <button class="btn-nav" (click)="goToDarkmode()">DARK MODE</button>
    <button class="btn-nav" (click)="goToCustomPrime()">CUSTOM-PRIME</button>
    <button class="btn-nav" (click)="goToUploadImg()">UPLOAD IMG</button>
    <button class="btn-nav" (click)="goToKomponen()">PARENT-CHILD</button>
    <button class="btn-nav" (click)="goToDragNdroP()">DRAGNDROP</button>
    <button class="btn-nav" (click)="goToRegex()">REGEX CSV</button>
    <button class="btn-nav" (click)="goToLocalStorage()">LOCAL STORAGE</button>
  </div>