body {
    padding: 20px;
}

.table-wrapper{
    padding: 10px;
}

.action-row{
    text-align: center !important;
    padding: 0%;
    display: flex;
    place-content: center;
}

td, th{
    text-align: center !important;
}

.dialog-wrapper{
    // padding: 20px;
}

.row h6{
    width: auto;
}

.row{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 10px;
}

input{
    width: auto;
}

button{
    float: right;
}