<body>
  <div>
    <h3>Multiple Select Table</h3>
  </div>
  <div class="flex">
    <p-button (click)="showDialog()" label="Tambah Data"></p-button> &nbsp;
    <p-button label="Batal"></p-button>
  </div>
  <div class="grid" style="margin: 10px 0px 5px 0px;">
    <div class="col">
      <p-dropdown
        [options]="searchColumns"
        [(ngModel)]="selectedSearchColumn"
        (onChange)="search()"
      >
      </p-dropdown>&nbsp;
      <input
        pInputText
        [(ngModel)]="searchText"
        (input)="search()"
        placeholder="Search..."
      />
    </div>
  </div>

  <div class="table-wrapper">
    <p-table
      [value]="filteredData"
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5, 10, 25, 50, 100]"
      [(selection)]="selectedRows"
      (onRowSelect)="onRowSelect($event)"
      (onRowUnselect)="onRowUnselect($event)"
      (onHeaderCheckboxToggle)="onHeaderCheckboxToggle($event)"
      selectionMode="multiple"
    >
      <!-- <p-table [value]="data" styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }"> -->
      <ng-template pTemplate="header">
        <tr>
          <th>IDs</th>
          <th>Name</th>
          <th>Age</th>
          <th class="action-row">Action</th>
          <th class="hcheckbox">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData>
        <tr class="tbBody">
          <td>{{ rowData.id }}</td>
          <td>{{ rowData.name }}</td>
          <td>{{ rowData.age }}</td>
          <td class="action-row">
            <button pButton (click)="editData(rowData)">
              <svg cIcon name="cilPencil" size="sm"></svg>
            </button>
            &nbsp;
            <button pButton (click)="deleteData(rowData)">
              <svg cIcon name="cilTrash" size="sm"></svg>
            </button>
          </td>
          <td>
            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="table-wrapper" *ngIf="selectedRows.length > 0">
    <p-table
      [value]="selectedRows"
      >
      <!-- <p-table [value]="data" styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }"> -->
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Age</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData>
        <tr class="tbBody">
          <td>{{ rowData.id }}</td>
          <td>{{ rowData.name }}</td>
          <td>{{ rowData.age }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <p-toolbar>
     <div class="p-toolbar-group-start">
      <button pButton type="button" label="Show Checked Data dgn Dialog" (click)="showCheckedDataDialog()"></button>&nbsp;
      <button pButton type="button" label="Show Checked Data dgn Lookup" (click)="openLookup()"></button>
    </div>
    <div class="p-toolbar-group-end">
      <p-button (click)="clearCheckedData()" label="Clear Checked Data"></p-button>
    </div>
  </p-toolbar>
</body>

<body>
  <div>
    <h3>Single Select table</h3>
  </div>
  <div class="card table-wrapper">
    <p-table
      [value]="filteredData2"
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5, 10, 25, 50, 100]"
      [(selection)]="selectedRows2"
      (onRowSelect)="onRowSelect2($event)"
      (onRowUnselect)="onRowUnselect2($event)"
      selectionMode="single"
    >
      <!-- <p-table [value]="data" styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }"> -->
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Age</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData2>
        <tr [pSelectableRow]="rowData2" class="tbBody">
          <td>{{ rowData2.id }}</td>
          <td>{{ rowData2.name }}</td>
          <td>{{ rowData2.age }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</body>

<p-dialog
  header="Add New Data"
  [(visible)]="visible"
  [draggable]="false"
  [resizable]="false"
>
  <div class="dialog-wrapper">
    <div class="row">
      <div class="col">
        <h6>ID</h6>
      </div>
      <div class="col">
        <h6>:</h6>
      </div>
      <div class="col">
        <p-inputNumber
          type="number"
          [(ngModel)]="selectedRowData ? selectedRowData.id : newData.id"
          placeholder="Id"
        ></p-inputNumber>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h6>Name</h6>
      </div>
      <div class="col">
        <h6>:</h6>
      </div>
      <div class="col">
        <input
          pInputText
          type="text"
          [(ngModel)]="selectedRowData ? selectedRowData.name : newData.name"
          placeholder="Name"
        />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h6>Age</h6>
      </div>
      <div class="col">
        <h6>:</h6>
      </div>
      <div class="col">
        <p-inputNumber
          type="number"
          [(ngModel)]="selectedRowData ? selectedRowData.age : newData.age"
          placeholder="Age"
        ></p-inputNumber>
      </div>
    </div>
    <div>
      <button pButton (click)="saveData()">
        Tambah Data <svg cIcon name="cilPencil" size="sm"></svg>
      </button>
    </div>
  </div>
</p-dialog>


<p-dialog header="Checked Data" [(visible)]="displayDialog" [modal]="true" [responsive]="true"
  [style]="{ 'width': '80%' }">
  <p-table [value]="selectedDataForDialog" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[5, 10, 25, 50, 100]" [resizableColumns]="true">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr>
        <td>{{ rowData.id }}</td>
        <td>{{ rowData.name }}</td>
        <td>{{ rowData.age }}</td>
      </tr>
    </ng-template>
  </p-table> <br>
  <button pButton type="button" label="Tutup" (click)="closeDialog()"></button>
</p-dialog>
