<body>
  <div>
    <h3>TABEL DARI PRIME</h3>
    <p-button (click)="showDialog()" label="Tambah Data"></p-button>
  </div>
  <div class="table-wrapper">
    <p-table
      [value]="data"
      styleClass="p-datatable-gridlines"
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5, 7, 10]"
      [(selection)]="selectedRows"
      (onRowSelect)="onRowSelect($event)"
      (onRowUnselect)="onRowUnselect($event)"
      (onHeaderCheckboxToggle)="onHeaderCheckboxToggle($event)"
    >
      <!-- <p-table [value]="data" styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }"> -->
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Age</th>
          <th class="action-row">Action</th>
          <th><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
          
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData>
        <tr class="tbBody">
          <td>{{ rowData.id }}</td>
          <td>{{ rowData.name }}</td>
          <td>{{ rowData.age }}</td>
          <td class="action-row">
            <button pButton (click)="editData(rowData)">
              <svg cIcon name="cilPencil" size="sm"></svg>
            </button>
            &nbsp;
            <button
              pButton
              class="p-button-danger"
              (click)="deleteData(rowData)"
            >
              <svg cIcon name="cilTrash" size="sm"></svg>
            </button>
          </td>
          <td>
            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</body>

<p-dialog
  header="Add New Data"
  [(visible)]="visible"
  [draggable]="false"
  [resizable]="false"
  [style]="{ width: '30vw', height: '400px' }"
>
  <div class="dialog-wrapper">
    <div class="row">
      <div class="col">
        <h6>ID :</h6>
      </div>
      <div class="col">
        <p-inputNumber
          type="number"
          [(ngModel)]="selectedRowData ? selectedRowData.id : newData.id"
          placeholder="Id"
        ></p-inputNumber>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h6>Name :</h6>
      </div>
      <div class="col">
        <input
          pInputText
          type="text"
          [(ngModel)]="selectedRowData ? selectedRowData.name : newData.name"
          placeholder="Name"
        />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h6>Age :</h6>
      </div>
      <div class="col">
        <p-inputNumber
          type="number"
          [(ngModel)]="selectedRowData ? selectedRowData.age : newData.age"
          placeholder="Age"
        ></p-inputNumber>
      </div>
    </div>
    <div>
      <button pButton (click)="saveData()">
        Tambah Data <svg cIcon name="cilPencil" size="sm"></svg>
      </button>
    </div>
  </div>
</p-dialog>
