body {
    padding: 20px;
}

.table-wrapper{
    padding: 10px;
}

.action-row{
    text-align: center !important;
    padding: 0%;
    // display: flex !important;
    // max-width: 150px;
}

.dialog-wrapper{
    padding: 20px;
}
