<body>
  <div class="upload-wrapper">
    <div>
      <h2>Upload Img</h2>
      <label>Simple Feature Upload image</label>
    </div>
    <p-panel header="Upload/Download">
      <p-fileUpload
        name="file"
        url="/https://www.primefaces.org/cdn/api/upload.php"
        (onUpload)="onUpload($event)"
        [multiple]="true"
        [maxFileSize]="1000000"
        accept="image/*"
        chooseLabel="Choose"
        uploadLabel="Upload"
        cancelLabel="Cancel"
      >
        <ng-template pTemplate="content">
          <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">
              {{ file.name }} - {{ file.size }} bytes
            </li>
          </ul>
        </ng-template>
      </p-fileUpload>
    </p-panel>
  </div>
</body>
